* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1b1b1b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    position: relative;
}

#gameCanvas {
    border: 2px solid #fff;
    background-color: #000;
}
